<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>asp-net-core-server</h1>
    <p>The <b>asp-net-core-server</b> service (backend part) is running. Now start the <b>dashboard-angular-app</b> application (frontend part).</p>
</body>
</html>